__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.py[co]
*.mo
*.pot
*.build
*.dist
*.ninja_log
*.cache
*.tox
*.mypy_cache
*.pytest_cache
*.coverage
*.cache
*.egg-info
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.mypy_cache

venv/
